.margin-top {
  margin-top: 50px;
  min-height: calc(100vh - 372px);
}

.flex-question-page-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-question-container .SideRight {
  flex-shrink: 0;
  margin-top: 20px;
}
